
/*
 * _backgrounds
 * ==============================================
 * Block Background Visual Styles
*/


.__GrayBright
{
	background-color: #EEEEEE;
}

.__GrayDark
{
	background-color: $color_GreyDark;
}

.__GrayLight
{
	background-color: $color_GreyLite;
}

.__White
{
	background-color: #FFFFFF;
}

.__Purple
{
	background-color: rgba(0, 0, 255, 0.1);
}

.__Green
{
	background-color: rgba(0, 255, 0, 0.1);
}

.opacity .__Texture-Dark1 {
	opacity: 0.8;
}


