/*
 *
 * Elladoria Screen
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 * UItoTop Button :  50
 * Lightbox Popups (PrettyPhoto or Magnific Popup) :  10,000 - 10,010
 *
 * VideoJS @ Fullscreen :  1,000
 *
 *
 *
 * In the Compiled CSS this Comment Block will be Immediately Followed by...
 *
 * -- Compass CSS Reset --
 * ======================= */


// Base Setup (using Compass Version of CSS Reset)
// ==============================================================
@charset "UTF-8";


// Component CSS to Include in this Stylesheet
// ==============================================================
@import "_sass_code/all";
@import "elements/all";
@import "_styleguides-sass_constants/all";


body {
	@include Type_MainBody();
	@include set-font-size(24);

	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	@include Type_MainBody();
}

h1 {
	@include set-font-size(50);
}
h2 {
	@include set-font-size(40);
}
h3 {
	@include set-font-size(30);
}

input[type="button"] {
	color: #4C4C4C;
	background-color: #d4d4d4;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 17px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 4px;
	display: flex;
	border: 3px solid #8b8b8b;
	font-family: 'Sorts Mill Goudy';
	font-size: 30px;
}

input[type="button"]:hover {
	border: 3px solid #FFFFFF;
	background-color: #007305;
	color: #FFFFFF
}

.messages {
	width: 100%;// 100% instead of 100vw to avoid issues with scrollbar width
	height: 70vh;
	background-color: #FF6666;
	flex-direction: column;
	@include Type_MainBody();
	align-items: center;
}


.hello {
	color: #3333FF;
}

.loaded {
	color: #009900;
}

.in-message-image {
	position: absolute;
	right: 35px;
	bottom: 10px;
}

.NavBox {
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

#message_space {
	height: 100%;
	width: 100%;
	flex-direction: column;
}

#message_space form {
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.ComponentWrapper {
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
