
@import './straight_imp';
@import './test_2.variables';
/* Note: PostCSS detects the '.variables' part of the name and transforms the import path to be "./test_2.variables.snes.css" */


.messages {
	background-color: var(--mySpecialBack);
}

.messages .title {
	background-image: url("/images/Stripped_ReactJS_Badge.svg");
	width: calc(50% + 10%);
}
