:root {

	--shadowBlack100: 0 0.035em rgba(0, 0, 0, 0.25);
	--shadowBlack100-why-in-the-name-of-god: 0 0.3125rem rgba(0, 0, 0, 0.25);
	--shadowBlack400: 0 0.035em rgba(0, 0, 0, 0.5);
	--shadowBlack500: 0 0.16em rgba(0, 0, 0, 0.5), 0 0 1.25rem rgba(0, 0, 0, 0.25);
	--mySpecialBack : #660066;
	--mySpecialColor : #66FF66;
}
